<!DOCTYPE html>
<html>
<head>
    <title>Monitoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/bundles/snidetravinizer/css/bootstrap.min.css') }}" type="text/css"
              media="all"/>
        <link rel="stylesheet" href="{{ asset('/bundles/snidetravinizer/css/bootstrap-responsive.css') }}"
              rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('/bundles/snidetravinizer/css/style.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>
<div class="container">
    <div class="row">
        <div id="content" class="span12">

            {% block main %}

            {% endblock %}
        </div>
    </div>
</div>
{% block javascript %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ asset('/bundles/snidetravinizer/js/bootstrap.min.js ') }}"></script>
{% endblock %}
</body>
</html>