{% extends 'SnideTravinizerBundle::base.html.twig' %}

{% block main %}
    <h1>Applications</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>State</th>
            <th>Message</th>
            <th>Action(s)</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

{% endblock %}